@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
  text-align: center;
  background-color: rgb(240, 245, 250);
  color: rgb(70, 130, 210);
  min-height: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: rgb(70, 130, 210);
}

a:hover {
  color: rgb(200, 230, 250);
}

button {
  font-weight: 400;
  border-style: none;
  border-radius: 6px;
  transition: all .2s ease;
  text-align: center;
  outline: none;
}

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
  opacity: 1;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
  opacity: 0;
  transform:   translate(250px,0);
  transform: translate3d(250px,0,0);
}