body {
  background-color: #000000;
  color: rgb(200, 220, 235);
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #000000;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.brain {
  width: auto;
  height: 100vh;
  float: left;

}

h1.title {
  text-transform: lowercase;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgb(200, 220, 235);
  -webkit-animation: neon2 0.7s ease-in-out infinite alternate;
  -moz-animation: neon2 0.7s ease-in-out infinite alternate;
  animation: neon2 0.7s ease-in-out infinite alternate;
}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.subtitle {
  font-weight: 200;

}

div.welcome-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
.test {

}

div.upper-container {
  position: absolute;
}

a.start-button {
  border-radius: 5px;
  margin: 15px 0;
  width: 290px;
  padding: 18px 20px;
  background-color: rgb(70, 130, 210);
  background-color: #749a02;
  color: rgb(200, 220, 235);
  background-color: #3B5998;
}
