extends ./base

block styles
  link(rel='stylesheet', href='style/welcome.css')

block content
  div.upper-container
  img.brain(src='images/img.jpg')
  div.welcome-container   
    h1.title symantix
    h4.subtitle Dynamic Speech and Text Analysis Tool
    div.button-container
      a.pure-button.start-button(href='login') Get started
